* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 197, 205);
    justify-content: center;
    align-items: center;
    display: flex;
}

.div1 {
    width: 1100px;
    height: 560px;
    background-color: aquamarine;
    margin-top: 30px;
    display: flex;
    /* padding: 10px; */
    box-shadow: 5px 10px 18px #888888;
}

.div2 {
    width: 40px;
    height: 560px;
    background-color: rgb(71, 247, 247);
    justify-content: space-between;
}


/* 
ul li {
    margin-bottom: 10px;
    display: inline-block;
    display: flex;
}

ul {
    position: absolute;
    background-color: aliceblue;
} */

nav {
    display: flex;
    align-items: center;
}

.div3 {
    position: absolute;
    padding-left: 13px;
    padding-top: 13px;
}

.div4 {
    position: absolute;
    padding-top: 435px;
    padding-left: 10px;
    padding-bottom: 13px;
    /* background-color: black; */
}

li {
    list-style-type: none;
    padding-bottom: 7px;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}