    .div1 {
        border: 1px solid black;
        height: 100px;
        width: 100px;
        top: 100px;
        bottom: 100px;
        left: 100px;
        right: 100px;
        position: relative;
        position: sticky;
    }
    
    .div2 {
        border: 1px solid black;
        height: 150px;
        width: 150px;
        position: relative;
    }